/* body{
    background-color: #e9ecef;
    /* background-color: black; */
    /* color: white;
}

.jumbo-bg{
    background-color: white;
}
.home-title:hover{
    border-bottom: 2px solid black;
} */