{% extends 'mblog/base.html' %} {% load static %} {% block content %}

<div class="col-sm-10">
  <h3 class="my-5">Home Page</h3>

  {% for i in posts %}

  <div class="jumbotron jumbotron-fluid" style="background-color: white">
    <div class="container">
      <span class="text-primary" style="cursor:pointer"> 
      <img src="{{request.user.Profile.image.url}}" class="img-thumbnail rounded-circle myimg2">
      {{full_name}} 
      </span>
      <small>{{i.date}}</small>
      <hr />
      <h1 class="display-4 home-title" style="cursor: pointer">{{i.title}}</h1>
      <p id="show" class="lead">
        {{i.desc | truncatewords:30}}
        <a id="show-btn" href="#"><small> Read More</small></a>
      </p>
      <p></p>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock content %}
